# Using Numerical and Categorical Variables Together

In this notebook we will show how to combine numerical and categorical variables together.

In [2]:
import pandas as pd 

df = pd.read_csv('data/adult-census.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [3]:
target = df['class']
data = df.drop(columns=['fnlwgt', 'education', 'class'])

## Selection Based on Data types

We need first to separate categorical and numerical variables using their data types to identify them. We make use of `make_column_selector` helper to select the corresponding columns.

In [5]:
from sklearn.compose import make_column_selector as selector

numerical_columns_selector = selector(dtype_exclude=object)
categorical_columns_selector = selector(dtype_include=object)

numerical_columns = numerical_columns_selector(data)
categorical_columns = categorical_columns_selector(data)

## Dispatch Columns to a Specific Processor

Scikit-learn provides a `ColumnTransform` class which will send specific columns to a specific transformer, making it easy to fit a single predictive model on a dataset that combines both kind of variables together (heterogeneously typed tabular data).

We first define the columns depending on their data type:

  * **one-hot encoding** will be applied to categorical columns. Besides, we use `handle_unknown="ignore"` to solve the potential issues due to rare categories.

  * **numerical scaling** numerical features which will be standardized.