# Exercise M201

The aim of this exercise is to make the following experiments:

* train and test a support vector machine classifier through cross-validation;
* study the effect of the parameter gamma of this classifier using a validation curve;
* use a learning curve to determine the usefulness of adding new samples in the data set when building a classifier.

In [1]:
import pandas as pd
# Disable jedi autocompleter
%config Completer.use_jedi = False

In [2]:
df = pd.read_csv('data/blood_transfusion.csv')
df.head()

   Recency  Frequency  Monetary  Time        Class
0        2         50     12500    98      donated
1        0         13      3250    28      donated
2        1         16      4000    35      donated
3        2         20      5000    45      donated
4        1         24      6000    77  not donated

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Recency    748 non-null    int64
 1   Frequency  748 non-null    int64
 2   Monetary   748 non-null    int64
 3   Time       748 non-null    int64
 4   Class      748 non-null    object
dtypes: int64(4), object(1)
memory usage: 29.3+ KB

In [4]:
target = df['Class']
data = df.drop(columns='Class')

We will use a support vector machine classifier (SVM). In its most simple form, a SVM classifier behaving similarly to a logistic regression. 

Also the classifier can become more flexible/expressive by using a so-called kernel that makes the model become non-linear. We will use an RBF kernel where a parameter `gamma` allows to tune the flexibility of the model.

First let's create a predictive pipeline made of:

* a `sklearn.preprocessing.StandardScaler` with default parameter
* a `sklearn.svm.SVC` where the parameter `kernel` could be set to  `rbf`. Note that this is the default.

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC