# Exercise M1.04

The goal of this exercise is to check if the accompanying lecture was understood and to some degree memorised.
As a guideline here are the needed steps:

1. We begin by importing all needed modules and setting the notebook environment.
2. Load the adult_census data set and display 5 observations (first 5, last 5 or random 5)
3. Drop the redundant features
4. Separate the target from the data
5. Select only numerical data
6. Construct a pipeline from  the StandardScaler and the LogisicRegression
7. Evaluate the model prediction using cross-validation
8. Print the test score and its standard deviation
9. In own words explain what the standard deviation fo the cross-validation score means.

In [7]:
# 1. Standard imports
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import set_config
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_validate

# set notebook environment
# precision
%precision %.3f
pd.options.display.float_format = '{:,.2f}'.format
# table width
pd.set_option('display.width', 100)
# display estimators as diagram an not text
set_config(display='diagram')

In [2]:
# 2. Load the data set
df = pd.read_csv('data/adult-census.csv')
df.sample(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
17574,46,Private,279661,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,35,United-States,<=50K
21170,28,Private,196564,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,45,United-States,<=50K
1345,58,Private,170480,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K
15573,18,?,158826,12th,8,Never-married,?,Own-child,Black,Female,0,0,15,United-States,<=50K
344,66,Private,275918,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,10605,0,40,United-States,>50K

In [3]:
# 3. Drop columns
df = df.drop(columns=['fnlwgt', 'education'])

In [4]:
# 4. separate target from data
target = df['class']

In [5]:
# 5. keep only numerical features
data = df.select_dtypes('number')

In [8]:
# 6. Construct a model as a pipeline with a StandardScaler and a LogisicRegression
model = make_pipeline(StandardScaler(), LogisticRegression())

In [11]:
# 7. Evaluate the model prediction using cross-validation
cv_result = cross_validate(model, data, target, cv=5)

In [13]:
# 8. Prediction score and standard deviation
score = cv_result['test_score'].mean()
std = score.std()
print(f"The mean corss-validation accuracy is: {score} +/- {std:.3f}")

The mean corss-validation accuracy is: 0.8140945585028909 +/- 0.000

In just 8 easy steps we constructed our prediction model and checked the model generalization performance.  
It couldn't be simpler, could it?!  

In the next notebooks we are going to learn how to include categorical data in our model and check whether the performance will improve or not.